

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "raleway", sans-serif;
  margin-top: 100px;
}

footer {
    height: auto;
    padding-top: 40px;
    display: block;
    margin-top: 100px;
    box-sizing: border-box;
    position: relative;
    width: 100%;

footer .container {
  margin-top: 20px;
}

.jumbotron {
  margin-top: 100px;
  height: auto;
}

.btn-success{
  margin-top: 20px;
  margin-bottom: 20px;
}

.text{
  margin-bottom: 0px;
}

.img{
  width: 100%;
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 660px;
}

.margin-bottom {
  margin-bottom: 5px;
  vertical-align: baseline;
}
